<nav class="home-nav">
  <% @top_onomatopes.each do |data| %>
    <a class="home-nav-item <%= "home-nav-item-col#{data[:span]}" %>" style="background-image: url('<%= data[:illustration].image_url %>')" href="<%= onomatope_path data[:onomatope] %>"></a>
  <% end %>
</nav>
<h1>All Onomatopes</h1>
<ul>
  <% @onomatopes.each do |onomatope| %>
    <li><%= link_to onomatope.name, onomatope %></li>
  <% end %>
</ul>
