<p id="notice"><%= notice %></p>

<h1><%= @onomatope.name %></h1>

<ul>
  <% @illustrations.each do |illustration| %>
    <li><%= render partial: 'illustrations/preview', locals: { illustration: illustration } %></li>
  <% end %>
</ul>
