# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 0ed8caedb25b73c46300f8d0bcce23029308c22ceb476edbe19cd8dde5455ace97561d94a258a296dcb43efaa2064fd82639e1b23fef27cb2eb5df95a75c87a4
  aws_access_key_id: 'XXXXXXXXXXXXXXXXXXXX'
  aws_secret_access_key: 'XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'
  awd_region: 'us-west-1'
  awd_directory:  'my-bucket'

test:
  secret_key_base: 2cb6ddfc92c14d57b06cc168f3ab5bc9a7bceab3d03050e454f1f8153c799b519f8d0bf3f4638d8d9deff7403f37c952b234c4182f20e24d78e0e7a7097e76ae

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  aws_access_key_id: <%= ENV["AWS_ACCESS_KEY_ID"] %>
  aws_secret_access_key: <%= ENV["AWS_SECRET_ACCESS_KEY"] %>
  awd_region: <%= ENV["AWD_REGION"] %>
  awd_directory:  <%= ENV["AWD_DIRECTORY"] %>
