/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  margin: 0 auto;
  width: 320px;
}

.globalHeader {
  background-color: black;
  height: 30px;
  line-height: 30px;
  margin-bottom: 40px;
  width: 100%;

  &-logo {
    display: inline-block;

    &-image {
      height: 40px;
      width: auto;
    }
  }
  &-logo:hover {
    -webkit-animation: twitch 200ms;
    animation: twitch 200ms;
    background-color: transparent;
  }
  &-navigation {
    float: right;
    padding: 0 1em;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.globalFooter {
  background-color: #fff;
  color: #ccc;
  padding: 4em 1em 1em;
  text-align: center;
}

@-webkit-keyframes twitch {
    0% { transform: translateX( 0  ) translateY( 0  ); }
   20% { transform: translateX( 2px) translateY( 2px); }
   40% { transform:                  translateY(-2px); }
   60% { transform: translateX(-2px) translateY( 2px); }
   80% { transform:                  translateY(-2px); }
  100% { transform: translateX( 0  ) translateY( 0  ); }
}
@keyframes twitch {
    0% { transform: translateX( 0  ) translateY( 0  ); }
   20% { transform: translateX( 2px) translateY( 2px); }
   40% { transform:                  translateY(-2px); }
   60% { transform: translateX(-2px) translateY( 2px); }
   80% { transform:                  translateY(-2px); }
  100% { transform: translateX( 0  ) translateY( 0  ); }
}
