.category {
  &-topImage {
    width: 100%;
  }

  &-list {
    border-top: solid 1px #ccc;
    list-style-type: none;
    margin-bottom: 2em;
    padding: 0;

    &-item {
      &:nth-child(odd) {
        background-color: #fff;
      }
      &:nth-child(even) {
        background-color: #eee;
      }
    }
  }

  &-link {
    border-bottom: solid 1px #ccc;
    display: block;
    padding: 16px;
    text-decoration: none;

    &::after {
      content: ">";
      float: right;
    }
  }
}
