// Place all the styles related to the miscellaneous controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  &-header {
    background-color: #fff;
    background-image: linear-gradient(#999, #fff);
    color: #fff;
    padding-bottom: 1em;
    text-align: center;

    &-logo {
      height: auto;
      width: 80%;
    }
  }

  &-translation {
    background-color: #fff;
    border-bottom: solid 3px #000;
    margin-bottom: 1em;
    text-align: center;

    &-item {
      background-color: #000;
      border-color: #000;
      border-radius: 4px 4px 0 0;
      border-style: solid solid none;
      border-width: 3px;
      color: #fff;
      margin-bottom: -3px;
      padding: 4px 8px 7px;

      &:disabled {
        background-color: #ff0;
        color: #000;
      }
    }
  }

  &-nav {
    font-size: 0;
    margin: 0 auto;
    text-align: justify;
    width: 100%;

    &::after {
      content: "";
      display: inline-block;
      height: 0;
      width: 100%;
    }
    &-item {
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      border: solid 5px #333;
      box-sizing: border-box;
      display: inline-block;
      height: 100px;
    }
    &-item-col1 {
      width: 100%;
    }
    &-item-col2 {
      width: 49.5%;
    }
    &-item-col3 {
      width: 33%;
    }
  }
}
