// Place all the styles related to the miscellaneous controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-nav {
  font-size: 0;
  margin: 0 auto;
  text-align: justify;
  width: 800px;

  &::after {
    content: "";
    display: inline-block;
    height: 0;
    width: 100%;
  }
  &-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 5px #333;
    box-sizing: border-box;
    display: inline-block;
    height: 200px;
  }
  &-item-col1 {
    width: 100%;
  }
  &-item-col2 {
    width: 49.5%;
  }
  &-item-col3 {
    width: 33%;
  }
}
