// Place all the styles related to the miscellaneous controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home-nav {
  font-size: 0;
  margin: 0 auto;
  width: 800px;

  &-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 3px #666;
    box-sizing: border-box;
    display: inline-block;
    height: 200px;
  }
  &-item-col1 {
    width: 100%;
  }
  &-item-col2 {
    width: 50%;
  }
  &-item-col3 {
    width: 33.33333%;
  }
}
